<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" class="drop-area" *ngIf="! uploading && ! uploadSuccessResponse && ! uploadFailResponse">
    <input type="file" name="files" (change)="fileChange($event)" #fileInput multiple *ngIf="type === 'multiple'">
    <input type="file" name="file" (change)="fileChange($event)" #fileInput *ngIf="type === 'single'"/>
    <button mat-raised-button (click)="fileInput.nativeElement.click()" *ngIf="! selectedFiles">
      <mat-icon>cloud_upload</mat-icon>
      {{ type === 'single' ? 'Select File' : 'Select Files'}}
    </button>
    <div *ngIf="selectedFiles && !uploading && ! uploadSuccessResponse && ! uploadFailResponse" fxLayout="row wrap" fxLayoutAlign="center center">
        <div *ngFor="let selectedFile of selectedFiles; let i = index" fxLayout="column" fxLayoutAlign="center center" style="position: relative; padding: 15px; width: 180px;">
          <button mat-icon-button (click)="removeFile(i)" matTooltip="Remove file" style="position: absolute; top: 0; right: 0;">
            <mat-icon>close</mat-icon>
          </button>
          <img src="http://icon-park.com/imagefiles/download_navy_blue.png" style="width: 90px;">
          <div fxLayout="row" style="width: 100%;">
            <span style="margin: 8px; overflow: hidden; text-overflow: ellipsis;">{{ selectedFile.name }}</span>
          </div>
        </div>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center start" *ngIf="uploadSuccessResponse" class="success">
    <h4>Upload Succeed</h4>
    <pre style="max-width: 150px;">{{ uploadSuccessResponse | json}}</pre>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="uploadFailResponse" class="error">
      <h4>Upload Fail</h4>
      <p>{{ uploadFailResponse }}</p>
    </div>
  <div *ngIf="uploading" fxLayout="column" fxLayoutAlign="center center" style="margin: 15px;">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <span style="margin: 15px;">Uploading...</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!uploading" style="margin: 15px;">
    <button mat-raised-button color="primary" (click)="upload()" *ngIf="! uploadFailResponse && ! uploadSuccessResponse">Upload file</button>
    <button mat-raised-button *ngIf="uploadFailResponse || uploadSuccessResponse" (click)="refresh()">
      <mat-icon>refresh</mat-icon>
      REFRESH
    </button>
  </div>
</div>
